

body{
    background: #C2B280; 
        /* background: #F5F5DC;  */
    font-family: 'Varela Round' !important;
    /* font-family: "Audiowide", sans-serif; */

    /* color: #f2f2f2; */
}
/* grey #352f44 #393e46 */
/* #C2B280  #F5F5DC  new color combination */
.section1{
    display: flex;
    /* width: 1000px; */
    margin: 0px 90px 0px 0px;
    height: 600px;
    float: right;
}

.div1{
    margin: 0px 0px 0px 30px;
    padding: 0;
    height: max-content;
    width: max-content;
}
.div1 a{
    text-decoration: none  ;
    /* background-color: #333333 !important; */
        background-color: #F5F5DC !important;
                /* background-color: #393939 !important; */
    /* color: #333333; */
    color: #C2B280;
    border: 3px solid #C2B280;
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: bolder;
    /* color: #352f44; */
    font-size: 24px;
    display: block;
    width: 150px;
    text-align: center;
    overflow: hidden;
    /* margin-bottom: 20px; */
}

.div1 a:hover{
    /* font-size: 25px; */
    /* width: 160px; */
    /* padding: 3px 12px; */
    color: black;
    font-weight: bold;
    background-color: white !important;
    /* text-underline-offset: 8px; */
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

.div1 ul{
    list-style: none;
    position: fixed;
    top: 100px;
}
.div1 li{
    margin: 10px;
}



.div2{
    text-align: center;
    /* background-color: white; */
    /* height: 750px; */
    /* width: auto; */
    /* margin-left: 500px; */
}

.div2 h1{
    /* position: absolute;
    top: 50px;
    left: 650px;    */
    margin: 50px 0px 0px 0px;
    color: #F5F5DC;
}
.div2 h1:hover{
    /* color: black; */
    cursor: pointer;
}

figcaption:hover{
    color: black;
}

.buttons {
    /* position: absolute  ;
    top: 150px;
    left: 650px;    */
    margin: auto;
    justify-content: space-evenly;
}
.buttons button{
    margin: 30px 30px 0px 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #F5F5DC;
        /* border: 3px solid #393939; */
    background-color: #F5F5DC;
        /* background-color: #393939; */
    color: #C2B280;
    /* box-shadow: 10px 5px 5px darkgray; */
    /* box-shadow: 5px 10px 5px darkgray; */
    width: 160px;
    cursor: pointer;
}
.buttons button:hover{
    /* box-shadow: 10px 10px 5px lightcoral; */
        border: 3px solid white;
    color: black;
    font-weight: bold;
    background-color: white;
    
}


.clicked {
    /* border: 3px solid #352f44; */
    /* box-shadow: 0px 5px 1px darkgray; */

    /* box-shadow: 0px 15px 3px darkgray; */
}

.block1{
    text-align: center;
    margin: 30px;
    /* padding-bottom: 50px; */
    border-radius: 30px;
    /* background-color: lightgray; */
    /* color: white; */
    /* border: 3px solid #333333; */
    /* box-shadow: -5px 10px 30px lightgray; */
    height: 300px;
    padding: 20px 0px 0px 0px;
}

#block1, #block2, #block3, #block4 {
    background-color: #F5F5DC !important;
        /* background-color: #F5F5DC !important; */
        /* background-color: #E9E9E9 !important; */
    /* color: #333333; */
    color: #C2B280 !important;
    font-weight: bold;
    /* text-shadow: 1px 1px 2px #F5F5DC; */
}
.block1{
    /* background-color: #988558 !important; */
}

.block1:hover{
    /* box-shadow: 10px 15px 5px lightcoral; */
       /* box-shadow: -5px 5px 30px orange;  */
    /* box-shadow: 20px 15px 55px lightcoral; */
    border: 0px solid white;
    /* background-color: #333333; */

}

.block1 .div2{
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
    /* background-color: #333333; */
}

.block1 .div2 p {
    background-color: #C2B280;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px;
    color: #F5F5DC;
}

.block1 h2{
    /* margin: 0px; */
    /* margin-bottom: 10px */
}

.block1 p{
    font-size: larger;
    margin: 0px;
    margin-bottom: 5px;
    /* margin-bottom: 0px; */
}
.block1 p:hover{
    color: black;
}
.block1 .div1{
    display: flex;
    justify-content: space-evenly !important;
    width: auto;
    /* align-items: center; */
    /* text-align: center; */
    /* padding: 0px 100px; */
}

.block1 img{
    height: 30px;
    padding-top: 20px;
    cursor: pointer;
}
#block2{
    display: none;
}
#block3{
    display: none;
}
#block4{
    display: none;
}

#block2{
    /* background-color: #333333 !important; */
    color: #393939;
}
#block3 .b3container{
    display: flex;
    justify-content: space-evenly;
}

#block2 .uni:hover {
    box-shadow: -5px 5px 20px blue;

}

.b2div1 div{
    /* width: ; */
}

.b2div1 img{
    padding: 30px 60px;
    margin: 10px 0px 20px 0px;
    height: 70px;
    /* width: 230px; */
    background-color: whitesmoke;
    border-radius: 20px;
    /* box-shadow: -5px 5px 20px white; */
    /* border: 3px solid #393939; */
    /* border: 5px solid red; */

}
.b2div1 img:hover{
    box-shadow: -5px 5px 20px red;
    /* border: 5px solid red; */
}

.b2div1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    color:#393939;
}

.b2div1 div{
    /* width: 400px; */
}

.b2div1 p{
    /* padding-top: 20px; */
    font-size: larger;
}
.b2div1 p:hover{
    /* color: black; */
}

.b3div2 img{
    width: 80px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.b3div1, .b3div2{
    font-size: large;
}


.b3div1 img{
    width: 200px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

figure{
    margin: 0px;
    /* padding: 0px; */
}


.b3div1 button, .b3div2 button{
    padding: 5px 10px;
    margin: 3px 1px;
    border-radius: 5px;
    font-size: medium;
    /* font-weight: bold; */
        font-family: 'Varela Round' !important;
    background-color: #C2B280;
    border: 0px;
    /* color: #393939; */
}
.b3div1 button:hover, .b3div2 button:hover{
    /* color: red; */
    font-weight: bold;
    /* box-shadow: 5px 10px 5px lightcoral; */

}


.b3div1 p, .b3div2 p{
    /* font-size: medium; */
    margin-bottom: 20px;
    /* display: flex !important; */
}

.b4div1, .b4div2 {
    /* padding: 10px; */
    /* padding-top: 20px; */
}

.b4div1 div, .b4div2 div{
    padding: 5px;
    /* padding-bottom: 5px; */
}

#block4 {
    padding: 10px;
}

#block4 button{
    padding: 5px 10px;
    margin: 0px 1px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    font-size: large;
        font-family: 'Varela Round' !important;
    background-color: #C2B280;
    border: 0px solid #393939;
}
.b4div1 button:hover, .b4div2 button:hover{
        /* background-color: #333333; */
        font-weight: bold;
        /* color: white; */
        /* margin: 0px 6px; */
}


.b4heading {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: x-large;
}

/* //////////////////////// */

.section2{
    display: flex;
    width: 900px;
    margin: 0px 85px 0px 0px;
    height: 600px;
    float: right;
}

.aboutdiv1 {
    margin: 20px 0px;   
    padding: 40px;
    font-size: large;
    background: #C2B280;
    border-radius: 20px; 
    float: right;
    color: #F5F5DC;
    font-weight: bold;
    text-align: center;
    /* width: fit-content; */
}



/* .b3div2 li{
    border: 3px solid red;
    list-style: none;
} */


/* .b2div1 button{
    font-size: large;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: black;
    color: b;
    border: 3px solid black;
} */


/* .b2div1 button{
    font-size: medium;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px; */
    /* color: navy; */
    /* border: 3px solid #352f44; */
    /* border: 3px solid #352f44; */

    /* box-shadow: 10px 5px 5px darkgray; */
    /* box-shadow: 0px 15px 5px darkgray; */
/* } */


/* .div2{
    background: black; 
    /* color: #f96d00; 
    color: #e70000;
    height: 200px;
    margin: 0;
    padding: 0;
}

button{
    background-color: #e70000;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    margin: 10px;
    color: #f2f2f2;
    font-family: 'Papyrus';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 10px 5px 5px darkgray;} */

/* .first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; } */