body {
    background-color: lightblue;
}
.main {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 5px solid lightcyan;
    margin-top: 50px;
    font-family: sans-serif;
    border-radius: 20px;
    background-color: white;
    padding: 0px 30px;
}
h1 {
    text-align: center;
    background-color: lightcyan;
    padding: 20px 0px;
    /* margin-top: 0px; */
    margin: 30px 20px;
    border-radius: 10px;
    border-bottom: 3px solid lightgrey;
    color: black;
}
ul {
    list-style: none;
    font-size: 20px;
    color: black;
    margin-left: -40px;
    margin-bottom: 20px;
}
li {
    /* border-bottom: 1px solid #ededed; */
    border-bottom: 3px solid lightgrey;
    background-color: lightcyan;
    padding: 15px 5px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

li span {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}
.addItem {
    position: relative;
    padding-bottom: 10px;
    height: 50px;
}
.addText {
    width: 70%;
    height: 30px;
    margin: 0px 10px;
    border: 3px solid turquoise;
    border-radius: 5px;
    background: lightcyan;
}
.addItem button {
    height: 35px;
    width: 50px;
    margin: 0px 10px;
    border-radius: 5px;
    font-weight: 700;
    background-color: lightcyan;
    border: 2px solid turquoise;
    color: black;
}
